/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----background-----*/

.style{
	width: 1920px;
    background-image: url(image-index/img-background.jpg);;
}
.header-main{
	width: 1296px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
}
/*---layout---*/
/*header1*/
.header1{
	padding-top: 80px;
	padding-bottom: 32px;
	gap: 80px;
	border: 2px solid black;
}
.header1-content{
	display: flex;
	border: 2px solid orange;
	padding-top: 32px;
	padding-bottom: 32px;
	justify-content: space-between;
}
.header1-views{
	width: 232px;
	padding-left: 32px;
	gap: 28px;
	border: 2px solid blue;
	position: relative;
}
.header1-views .header1-star{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: -5px;
	border:none;
}
.header1-views .header1-map{
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 30px;
	right: -20px;
	border:none;
}
.header1-views img{
	width: 152px;
	height: 152px;
	border-radius: 200px;
	border: 4px solid #FFFFFF;
	gap: 10px;
}
.view1{
	margin-left: 80px;
	gap: 10px;
}
.view3{
	margin-left: 80px;
	gap: 10px;
}
.header1-img img{
	width: 636px;
	height: 636px;
	border: 2px solid blue;
}
.header1-title{
	width: 218px;
	border: 2px solid blue;
	background: pink;
}
.header1-title-content{
	width: 132px;
	border: 2px solid purple;
	display: flex;
}
.header1-title-content p{
	writing-mode: vertical-lr;
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 48px;
	line-height: 62.4px;
	color: #212121;
	gap: 10px;
	border: 2px solid orangered;
}
.header1-title .p1{
	padding-top: 50px;
}
.header1-button img{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	border: 2px solid #333333;
}
.header1-scroll-down{
	width: 100%;
	display: flex;
	justify-content: center;

}
.header1-scroll-down p{
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}
.header1 button{
	width: 100%;
	display: flex;
	justify-content: center;
	border: none;
}


/* header2 */

/* content */
.content{
	padding-top: 208px;
	padding-bottom: 120px;
	gap: 40px;
	border: 2px solid black;
}
.content h2{
	display: inline;
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 32px;
	line-height: 38.4px;
	border-bottom: 9px solid #B1D6CA;
}

/* ---content-introduce--- */

.introduce-main{
	width: 1296px;
	padding-top: 60px;
	padding-bottom: 120px;
	gap: 16px;
	border: 2px solid orange;
	display: flex;
}
.introduce-item{
	width: 416px;
	padding-top: 40px;
	padding-right: 48px;
	padding-bottom: 40px;
	padding-left: 48px;
	border-radius: 28px;
	border: 2px solid #D4D4D4;
	background: aqua;
	vertical-align: middle;

}
.introduce-item h3{
	font-family: Noto Serif TC;
	width: 320px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	text-align: center;
	padding-bottom: 20px;
}
.introduce-item img{
	display: block;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}
.introduce-item p{
	font-family: Noto Sans TC;
	width: 320px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 10%;
}
/* ---content-shopping--- */
.shopping-main{
	width: 1296px;
	padding-top: 60px;
	padding-bottom: 120px;
	gap: 16px;
	border: 2px solid orange;
	display: flex;	
	justify-content: space-between;
}
.shopping-content{
	width: 636px;
	border: 2px solid pink;
}
.title-main{
	width: 636px;
	border: 2px solid blue;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}
.title-main button{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;

	width: 38px;
	border-radius: 100px;
	padding: 12px;
	gap: 8px;
	background: #5B5B5B;


}
.product-main{
	width: 636px;
	border: 2px solid blue;
	gap: 32x;
	padding-top: 10px;
}
.product-main button{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-align: center;

	width: 98px;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	gap: 8px;
	border-radius: 100px;
	border: 2px solid #5B5B5B

}
.product-list{
	width: 636px;
	gap: 8px;
	border: 2px solid red;
}
.product{
	width: 600px;
	padding-top: 20px;
	border: 2px solid green;
	display: flex;
	justify-content: space-between;
	
}
.hr{
	width: 636px;
	border: 1px solid #D4D4D4;	
}
.product-label-name{
	width: 416px;
	border-bottom: 2px solid yellow;
	padding-bottom: 20px;
}
.label ul{
	display: flex;
	gap: 5px;
	padding-bottom: 8px;
}
.label li{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 12%;
	color: #333333;
	text-align: center;

	width: 60px;
	border-radius: 80px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	background: #FFDD78;
}
.label p{
	font-family: Noto Serif TC;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	letter-spacing: 12%;

	width: 416px;
	gap: 4px;
}
.product-date-price{
	width: 138px;
	gap: 4px;
}
.product-date-price p1{
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #212121;
}
.product-date-price p2{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #212121;	
}
.num-switch{
	width: 636px;
	gap: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.num-switch button{
	width: 32px;
	height: 32px;
	border-radius: 20px;
	padding: 7px;
	background: #D4D4D4;
	border: none;
}
.right{
		transform:rotate(180deg);
}
.num-switch p{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #333333;

	text-align: center;
	width: 43px;
	gap: 8px;
}


.shopping-img{
	width: 526px;
	border: 2px solid pink;
	position: relative;
}
.shopping-img img{
	width: 526px;
	height: 526px;
	border-radius: 200px;
	border: 4px solid #FFFFFF;
}
.shopping-img .icon-map{
	width: 120px;
	height: 120px;
	border: none;
	position: absolute;
	z-index: 10;
	bottom: 20px;
	left: 5px;
}
.shopping-img .icon-cloud{
	width: 161px;
	height: 161px;
	border: none;
	position: absolute;
	z-index: 1;
	top: 60px;
	right: -80px;
}
.shopping-img button{
	width: 122px;
	gap: 4px;
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;

	position: absolute;
	right: 0px;
	bottom: -80px;
}

/* ---content-feature--- */
.feature-main{
	width: 1296px;
	padding-top: 80px;
	padding-bottom: 80px;
	border: 2px solid orange;
}

/* ---content-recommend--- */
.recommend-main{
	width: 1296px;
	padding-top: 150px;
	padding-bottom: 80px;
	border: 2px solid orange;
}
.recommend-list{
	gap: 24px;
	display: flex;
	position: relative;
}
.recommend-list .arrow-left{
	width: 28px;
	height: 28px;
	border-radius: 50em;
	border: 2px solid #5B5B5B;
	background: #F2F2F2;
	padding: 16px;
	position: absolute;
	top:45%;
	left: -8%;
}
.recommend-list .arrow-right{
	width: 28px;
	height: 28px;
	border-radius: 50em;
	border: 2px solid #5B5B5B;
	background: #F2F2F2;
	padding: 16px;
	transform:rotate(180deg);
	position: absolute;
	top: 45%;
	right: -8%;
}
.recommend-item{
	width: 306px;
	border-radius: 12px;
	padding-top: 52px;
	padding-right: 32px;
	padding-bottom: 40px;
	padding-left: 32px;
	gap: 16px;
	background: lightgoldenrodyellow;
	position: relative;
}
.user-name{
	display: flex;
	gap: 8px;
	padding-bottom: 10px;
	border: 2px solid yellowgreen;
}
.user-name img{
	width: 28px;
	height: 28px;
}
.recommend-item .user-img{
	border-radius: 50px;
	width: 72px;
	height: 72px;
	position: absolute;
	top: -45px;
}
.recommend-item .p1{
	width: 64px;
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 10%;
	color: #333333
}
.recommend-item .p2{
	width: 120px;
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #5B5B5B
}
.recommend-item img{
	width: 16px;
	height: 16px;
	padding-bottom: 10px;
}
.recommend-hashtag{
	width: 242px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #d4d4d4;
}
.recommend-item .p3{
	font-family: Noto Sans TC;
	font-weight: 700;
	font-size: 20px;
	line-height:30px;
	letter-spacing: 10%;
	color: #212121	
}
.recommend-item .p4{
	width: 242px;
	font-family: Noto Sans TC;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 9%;
	color: #5B5B5B
}


/*-----footer-----*/
.footer{
	background: pink;
}

.footer-wrap{
	margin: auto;
	max-width: 1296px;
	height: 227px;
	padding-top: 60px;
	padding-bottom: 120px;
	position: relative;
}

.footer-main{
	display: flex;
	justify-content: space-between;
	width: 1296px;
	height: 166px;
	gap: 32px;
}
.footer-about{
	display: flex;
	width: 984px;
	height: 166px;
	gap: 48px;
}
.logo-main{
	width: 344px;
}
.logo-main img{
	padding-bottom: 20px;
}
.logo-main li{
	padding-bottom: 8px;
	font-family: Noto Sans TC;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	letter-spacing: 9%;
}

/*中間*/
.link-main{
	display:flex;
	font-family: Noto Sans TC;	
	text-align: center;
	gap: 36px;
}
.link-main li{
	font-size: 16px;
	line-height: 24px;
	weight: 700px;
	padding-top: 4px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 4px;
}
.link-main .name{
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	weight: 700px;
	padding-top: 4px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 4px;
}


/*右邊*/
.footer-right{
	width: 236px;
	gap: 20px;
	border: 2px solid gray;
}
.social-main{
	width: 160px;
	display:flex;
	justify-content: flex-end;
	align-items: center;

}
.footer-content{
	font-family: Noto Sans TC;
	font-size: 14px;
	line-height: 21px;
	color: #D4D4D4;
	text-align: right;
}

/*下面*/
.copyright{
	width: 206px;
	height: 21px;
	font-family: Noto Sans TC;
	font-weight:700;
	font-size: 14px;
	line-height: 21;
	color: #939393;
	position: absolute;
	left:0px;
	top:100px;
}